.flex-header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    justify-content: baseline;
    background-color: rgb(93, 51, 93);
    height: 50px;
    padding: 10px;
    position: sticky;
    top:5px;
    opacity: 0.5 ;
}
.flex-header a:hover{
    color: blue;
    
    transform: scale(2);
    
    
}

body{
    padding:0;
    margin:0;
    line-height: 1.5;
    
 font-family: Arial, Helvetica, sans-serif;
 font-style: italic;
 font-size: 20px;
 
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 
}
.nav-1{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}
a{
    color: red;
    text-decoration: none;
}
header{
    color: red;
    font-size: 25px;
}
main div{
    height: 250px;
    width:500px;
    
    margin-left: 100px;

}
main div .sp1{
    font-size: 30px;
    
    font-weight: bold;
    font-style: italic;
}
.v{
    height: 300px;
    width: 700px;
}

